In [21]:
import numpy as np
import pandas as pd

In [2]:
forcing = pd.read_csv('data/orig/forcing_data.csv')

In [3]:
forcing

,YEAR,CO2,Other well mixed GHGs,Trop. O3,Strat. O3,Direct Sulphate Aerosol,Aerosol-Cloud Interactions,Biomass Burning Aerosol,Black & Organic Carbon Aerosol,Solar,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,SCALING,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1750,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1751,-0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1752,-0.02,0.01,0.00,0.00,0.00,0.00,0.00,0.00,-0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1753,-0.02,0.01,0.00,0.00,0.00,0.00,0.00,0.00,-0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,2096,1.92,1.03,0.38,-0.03,-0.36,-0.44,0.05,0.16,0.08,...,6.28,1.87,0.44,0.0,-0.09,-0.30,0.01,0.07,-0.03,0.0
348,2097,1.92,1.03,0.38,-0.03,-0.36,-0.44,0.05,0.16,0.08,...,6.33,1.87,0.44,0.0,-0.09,-0.30,0.01,0.07,0.02,0.0
349,2098,1.92,1.03,0.38,-0.03,-0.36,-0.44,0.05,0.16,0.08,...,6.38,1.88,0.44,0.0,-0.09,-0.30,0.01,0.07,0.09,0.0
350,2099,1.92,1.03,0.38,-0.03,-0.36,-0.44,0.05,0.16,0.08,...,6.44,1.89,0.44,0.0,-0.09,-0.30,0.01,0.07,0.13,0.0
351,2100,1.92,1.03,0.38,-0.03,-0.36,-0.44,0.05,0.16,0.08,...,6.49,1.89,0.44,0.0,-0.09,-0.30,0.01,0.07,0.14,0.0

In [4]:
forcing.columns

Index(['YEAR', 'CO2', 'Other well mixed GHGs', 'Trop. O3', 'Strat. O3',
       'Direct Sulphate Aerosol', 'Aerosol-Cloud Interactions',
       'Biomass Burning Aerosol', 'Black & Organic Carbon Aerosol', 'Solar',
       'Volcanic aerosols in Strat.', 'User Defined Forcing', 'TOTAL',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56'],
      dtype='object')

In [8]:
forcing.drop(forcing.columns[11:], axis=1, inplace=True)

In [13]:
forcing.drop(0, inplace=True)

In [22]:
forcing.index = np.arange(len(forcing))

In [24]:
forcing.rename(columns={'YEAR': 'year'}, inplace=True)

In [34]:
forcing = forcing[forcing.year.astype(int) <= 2016]

In [35]:
forcing.to_csv('data/forcing_data.csv', index=False)

In [36]:
f2 = pd.read_csv('data/forcing_data.csv')

In [37]:
f2

,year,CO2,Other well mixed GHGs,Trop. O3,Strat. O3,Direct Sulphate Aerosol,Aerosol-Cloud Interactions,Biomass Burning Aerosol,Black & Organic Carbon Aerosol,Solar,Volcanic aerosols in Strat.
0,1750,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,1751,-0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.01,0.00
2,1752,-0.02,0.01,0.00,0.00,0.00,0.00,0.00,0.00,-0.03,0.00
3,1753,-0.02,0.01,0.00,0.00,0.00,0.00,0.00,0.00,-0.03,0.00
4,1754,-0.03,0.01,0.00,0.00,0.00,0.00,0.00,0.00,-0.04,0.00
...,...,...,...,...,...,...,...,...,...,...,...
262,2012,1.85,1.02,0.39,-0.04,-0.39,-0.44,0.01,0.26,0.05,-0.07
263,2013,1.88,1.03,0.39,-0.04,-0.38,-0.44,0.03,0.20,0.06,-0.04
264,2014,1.91,1.03,0.38,-0.03,-0.37,-0.43,0.05,0.15,0.08,0.00
265,2015,1.94,1.03,0.38,-0.03,-0.37,-0.43,0.05,0.15,0.03,0.00
266,2016,1.97,1.04,0.37,-0.03,-0.37,-0.43,0.05,0.15,0.01,0.00

In [38]:
obs_temp_anomaly = pd.read_csv('data/orig/observed_temperature_anomaly_1850-2016.csv')
obs_temp_uncert = pd.read_csv('data/orig/observed_temperature_uncertainty.csv')

In [53]:
obs_temp_anomaly = obs_temp_anomaly[(obs_temp_anomaly.YEAR >= 1850) & (obs_temp_anomaly.YEAR <= 2016)]

In [63]:
years = obs_temp_anomaly.YEAR.astype(int).values
obs = obs_temp_anomaly['Obs.'].values

In [55]:
years

100    1850
101    1851
102    1852
103    1853
104    1854
       ...
262    2012
263    2013
264    2014
265    2015
266    2016
Name: YEAR, Length: 167, dtype: int64

In [56]:
obs

array([-0.37, -0.22, -0.22, -0.27, -0.25, -0.27, -0.35, -0.46, -0.47,
       -0.29, -0.35, -0.41, -0.53, -0.28, -0.49, -0.27, -0.25, -0.32,
       -0.23, -0.27, -0.28, -0.33, -0.23, -0.3 , -0.38, -0.4 , -0.38,
       -0.08,  0.04, -0.23, -0.23, -0.21, -0.21, -0.3 , -0.41, -0.39,
       -0.37, -0.42, -0.31, -0.17, -0.42, -0.34, -0.46, -0.47, -0.41,
       -0.39, -0.18, -0.21, -0.41, -0.29, -0.2 , -0.26, -0.4 , -0.48,
       -0.52, -0.38, -0.28, -0.47, -0.51, -0.52, -0.49, -0.54, -0.44,
       -0.43, -0.25, -0.15, -0.38, -0.46, -0.33, -0.27, -0.24, -0.19,
       -0.3 , -0.27, -0.29, -0.21, -0.11, -0.21, -0.21, -0.35, -0.13,
       -0.08, -0.13, -0.27, -0.13, -0.17, -0.14, -0.02,  0.  , -0.05,
        0.02,  0.02, -0.02,  0.  ,  0.15,  0.03, -0.07, -0.04, -0.04,
       -0.07, -0.17, -0.05,  0.03,  0.1 , -0.13, -0.19, -0.27,  0.  ,
        0.05,  0.02, -0.05,  0.04,  0.02,  0.05, -0.22, -0.14, -0.07,
       -0.07, -0.11,  0.03, -0.03, -0.19, -0.07,  0.06, -0.21, -0.15,
       -0.24,  0.05, -0.06,  0.06,  0.09,  0.14,  0.01,  0.19, -0.01,
       -0.03,  0.05,  0.19,  0.2 ,  0.12,  0.3 ,  0.25,  0.1 ,  0.15,
        0.21,  0.32,  0.18,  0.39,  0.54,  0.31,  0.29,  0.44,  0.5 ,
        0.51,  0.45,  0.54,  0.51,  0.49,  0.39,  0.51,  0.56,  0.42,
        0.47,  0.51,  0.58,  0.76,  0.77])

In [59]:
obs_temp_uncert.loc[len(obs_temp_uncert)] = (2016, None, None, None)

In [60]:
obs_temp_uncert

       Year  Min. Uncert.  Max. Uncert.  Uncert. Diff.
0    1850.0         -0.59         -0.16           0.43
1    1851.0         -0.43         -0.02           0.42
2    1852.0         -0.43         -0.03           0.41
3    1853.0         -0.47         -0.07           0.40
4    1854.0         -0.43         -0.07           0.37
..      ...           ...           ...            ...
162  2012.0          0.35          0.55           0.20
163  2013.0          0.39          0.59           0.21
164  2014.0          0.36          0.67           0.32
165  2015.0          0.55          0.87           0.32
166  2016.0           NaN           NaN            NaN

[167 rows x 4 columns]

In [64]:
obs_temp = pd.DataFrame(data=dict(
    year=years,
    obs_temp_anomaly=obs,
    min_uncert=obs_temp_uncert['Min. Uncert.'].values,
    max_uncert=obs_temp_uncert['Max. Uncert.'].values,
))

In [65]:
obs_temp

     year  obs_temp_anomaly  min_uncert  max_uncert
0    1850             -0.37       -0.59       -0.16
1    1851             -0.22       -0.43       -0.02
2    1852             -0.22       -0.43       -0.03
3    1853             -0.27       -0.47       -0.07
4    1854             -0.25       -0.43       -0.07
..    ...               ...         ...         ...
162  2012              0.47        0.35        0.55
163  2013              0.51        0.39        0.59
164  2014              0.58        0.36        0.67
165  2015              0.76        0.55        0.87
166  2016              0.77         NaN         NaN

[167 rows x 4 columns]

In [66]:
obs_temp.to_csv('data/observed_temperature_anomaly_1961-1990.csv')